@import './videojs.markers.css';

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.rec-b {
    height: 553px;
    overflow-y: auto;
    width: 100%;
}

.rec-h, .rec-b, .rec-r, .rec-d, .rec-h {
    display: block;
}

/* Hidden by default, selectively shown. */
.video-js .vjs-current-time {
    display: block;
}

.video-js .vjs-time-divider {
    display: block;
}

.video-js .vjs-duration {
    display: block;
}

.video-js .vjs-mute-control {
    display: block;
}

.video-js .vjs-volume-control {
    display: block;
}

/*.vjs-progress-control { pointer-events: none; }*/

/* Programmatically hidden with vjs-hidden when no tracks.
.video-js .vjs-chapters-button { display: block !important; }
.video-js .vjs-subtitles-button { display: block !important; }
.video-js .vjs-captions-button { display: block !important; }

/* Hidden with state classes.
.video-js .vjs-control-bar { display: flex; } */
